VITE_USE_REAL_DISCLOSURE=false
VITE_USE_REAL_AUTH=false
VITE_USE_REAL_USER=false
VITE_USER_SERVICE_BASE_URL=http://localhost:9804
VITE_DISCLOSURE_SERVICE_BASE_URL=http://localhost:9801
VITE_CHAT_BASE_URL=http://localhost:9805/api/chat
