.today-section {
  margin: 20px 13px;
  gap: 10px;
}

.today-title {
  margin: 20px 17px;
  font-weight: 700;
}

.today-list {
  background-color: var(--mainBlueLight);
  width: 93vw;
  height: max-content;
  border-radius: 10px;
  padding: 0 20px;
}

.today-item {
  display: flex;
  padding: 15px 10px;
  border-bottom: 1px solid var(--gray2);
}

.today-item p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.today-item:last-child {
  border-bottom: none;
}
