.Search {
  padding-top: 0;
}

.popularKW {
  padding: 10px 20px;
}

.popularKW-title {
  margin-bottom: 15px;
}

.popularKW-list {
  margin: 10px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.popularChip {
  border: 0;
  padding: 13px 15px;
  border-radius: 9999px;
  background: var(--mainBlueLight);
  color: var(--mainText);
  font-weight: 600;
  font-size: calc(var(--default-fz) * 1.1429); /* 16px */
  white-space: nowrap;
  cursor: pointer;
}

.recentKW {
  margin: 15px 25px;
  padding-bottom: 50px;
}

.recentKW-title {
  color: var(--subText);
  font-weight: 500;
  margin-bottom: 20px;
}

.recentKW-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.recentKW-item {
  margin: 10px;
  display: flex;
  gap: 20px;
  align-items: center;
  font-weight: 500;
}

.recentKW-item img {
  width: 20px;
  height: 20px;
}
