.Search {
  padding-top: 0;
}

.popularKW {
  padding: 10px 20px;
}

.popularKW-title {
  margin-bottom: 15px;
}

.popularKW-list {
  margin: 10px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.recentKW {
  margin: 15px 25px;
  padding-bottom: 50px;
}

.recentKW-title {
  color: var(--subText);
  font-weight: 500;
  margin-bottom: 20px;
}

.recentKW-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.recentKW-item {
  margin: 10px;
  display: flex;
  gap: 20px;
  align-items: center;
  font-weight: 500;
}

.recentKW-item img {
  width: 20px;
  height: 20px;
}

.result-list {
  display: flex;
  flex-direction: column;
}

.result-item {
  display: flex;
  height: 80px;
  padding: 22px 25px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-radius: 5px;
  border-bottom: 1px solid var(--gray2);
}

.result-left {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.result-company {
}

.result-date {
}

.result-empty {
  display: flex;
  height: 133px;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-weight: 500;
}

.recent-time {
  color: var(--mainBlue);
}

strong {
  font-weight: 700;
}
