

.agree .title-wrapper {
  display: flex;
  flex-direction: column;
  padding: 15vh 0 0 12vw;
  gap: 11px;
}

.agree .name {
  padding-left: 3px;
}

.agree .title {
  font-size: calc(var(--default-fz) * 2.5); /* 35px */
  letter-spacing: -0.7px;
}

.agree-list {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  gap: 6px;
}

.agree-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 46px;
  flex-shrink: 0;
  border-radius: 10px;
  background: var(--mainBlueLight);
}

.agree .checkbox-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.agree p {
  color: var(--gray5);
  font-weight: 500;
  padding-left: 9px;
}

.agree-item .checkbox {
  padding-left: 18px;
}

.agree-item .checkbox svg {
  display: block; /
}

.agree-item .detail {
  padding-right: 10px;
}

.agree-all {
    display: flex;
    width: 80%;
    padding-left: 5px;
    padding-top: 6px;


}
