.Alert {
  background: rgba(0, 0, 0, 0);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;

  animation: fadeIn 0.25s ease forwards;
}

.alert-box {
  background-color: white;
  display: flex;
  width: 100%;
  min-height: 186px;
  height: 25vh;
  max-width: 600px;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex-shrink: 0;

  transform: scale(0.9);
  opacity: 0;
  animation: popIn 0.25s ease forwards;
}

.alert-description {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.button-wrapper {
  display: flex;
  width: 100%;
  gap: 12px;
  align-items: center;
  justify-content: center;
}

.alert-description p {
  color: var(--subText);
}

.button-wrapper .cancel,
.accept {
  width: 84px;
  height: 44px;
  padding: 14px 28px;
  font-weight: 700;
  border-radius: 8px;
}

.button-wrapper .cancel {
  background: var(--gray2);
}

/* 배경 페이드인 */
@keyframes fadeIn {
  from {
    background: rgba(0, 0, 0, 0);
  }
  to {
    background: rgba(0, 0, 0, 0.3);
  }
}

/* 박스 등장 애니메이션 */
@keyframes popIn {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
