.disclosure-card {
  margin: 10px 0px;
  width: 90vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 5px;
  border-radius: 10px;
  border-top: 5px solid var(--mainBlue);
  background: white;
  box-shadow: 0 2px 8px 0 var(--gray2);
}

.card-header {
  display: flex;
  padding: 20px 20px 10px 20px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.card-header-left {
  display: flex;
  align-items: baseline;
  gap: 5px;
}

.company-code {
  color: var(--mainBluePoint);
}

.card-header-right {
  display: flex;
  font-weight: 500;
  gap: 8px;
}

.new-badge {
  color: var(--alert);
}
.time-ago {
  color: var(--mainBlue);
}

.card-meta {
  display: flex;
  padding: 10px 20px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}

.ai-summary-box {
  display: flex;
  padding: 15px;
  flex-direction: column;

  margin: 0 10px;
  gap: 5px;
  border-radius: 10px;
  background: var(--mainBlueLight);
}

.ai-summary-title {
  color: var(--subText);
  font-weight: 400;
}

.ai-summary-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 5px;
  gap: 3px;
}

.ai-summary-loading {
  text-align: center;
  margin: 20px 0;
}

.ai-summary-fail {
  display: flex;
  align-items: center;
  margin: 20px 0;
  gap: 10px;
  flex-direction: column;
}

.ai-summary-fail button {
  background-color: var(--mainBlue);
  font-weight: 600;
  width: fit-content;
  padding: 10px 15px;
  border-radius: 20px;
}

.card-footer {
  display: flex;
  height: 7vh;
  max-height: 60px;
  padding: 5px 20px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.detail-link {
  display: flex;
  padding-left: 5px;
  align-items: center;
  justify-content: center;
}

.detail-link img {
  width: 20px;
  height: 20px;
}

.sentiment-chip {
  display: flex;
  padding: 5px 15px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 20px;
  background: var(--gray2);
  color: var(--gray5);
}

.sentiment-chip.positive {
  background: #e5fbe9;
  color: #4a8a55;
}

.sentiment-chip.negative {
  background: #f7e3e2;
  color: #963c3d;
}
