.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  /********************/
  height: 70px;
  /********************/
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 26px 24px;
  font-size: calc(var(--default-fz) * 1.4286);
  background-color: white;
  border-bottom: 1px solid #eee;
}

.header.transparent {
  background-color: transparent;
}

.header-title {
  white-space: nowrap;
  font-size: calc(var(--default-fz) * 1.2857) !important;
  text-align: center;
  font-weight: 800;
  letter-spacing: -0.5px;
  align-items: center;
  justify-content: center;
}

.header-left,
.header-right {
  width: 40px; /* 버튼 영역 크기 통일 */
  display: flex;
  justify-content: center;
  align-items: center;
}
