.loading-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: white;
  z-index: 9999;
}

.loading-spinner {
  width: 40px;
  height: 40px;
  border: 5px solid var(--subBlueDark);
  border-top: 4px solid var(--subBlue);
  border-radius: 50%;
  animation: rotate 1s ease-in-out infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
