.search-bar {
  display: flex;
  height: 10vh;
  max-height: 55px;
  padding: 10px 20px;
  margin: 10px 12px;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 9999px;
  border: 2px solid var(--mainBlueDark);
}

.search-bar input {
  flex: 1;
  border: none;
  outline: none;
  font-size: calc(var(--default-fz) * 1.2857); /* 18px */
}

.search-bar input::placeholder {
  color: var(--gray3);
  font-size: var(--default-fz);
}
