.Notice {
  background-color: var(--gray1);
}

.Notice Header {
  background-color: var(--gray1);
}

.notice-item {
  display: flex;
  height: 63px;
  padding: 10px 20px;
  font-weight: 500;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-bottom: 1px solid var(--gray2);
}
