.my-info-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  gap: 10px;
}

.my-info-item {
  display: flex;
  flex-direction: column;
  margin: 10px 20px;
  gap: 10px;
}

.my-info-sub {
  padding: 10px;
  color: var(--subText);
}

.nickname-edit {
  display: flex;
}

.logout {
  text-align: center;
  color: red;
  text-decoration: underline;
}
