.my-company-section {
  margin: 20px 13px;
  gap: 10px;
  padding-bottom: 70px;
}

.my-company-header {
  display: flex;
  align-items: center;
  gap: 8px;
}

.my-company-title {
  margin: 20px 17px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
}

.toggle-btn {
  margin-left: auto;
  background: none;
  border: 0;
  padding: 4px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.my-company-list {
  margin: 10px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding-bottom: 6px;
  border-bottom: 1px solid #eee;
}

.my-company-list.collapsed {
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  scrollbar-width: none;
}
.my-company-list.collapsed::-webkit-scrollbar {
  display: none;
}

/* 펼침 상태: 여러 줄 보이게 */
.my-company-list.expanded {
  flex-wrap: wrap;
  overflow: visible;
  max-height: none;
}

/* 칩 스타일 */
.chip {
  border: 0;
  padding: 13px 15px;
  border-radius: 9999px;
  background: var(--mainBlueLight);
  color: var(--mainText);
  font-weight: 600;
  font-size: calc(var(--default-fz) * 1.1429); /* 16px */
  white-space: nowrap;
  cursor: pointer;
}

.chip.active {
  background: var(--mainBluePoint);
  color: white;
}
