.PremiumAd {
  display: flex;
  padding: 7px 20px;
  align-items: center;

  font-weight: 500;
  color: white;
  gap: 5px;
  /* background: linear-gradient(
    90deg,
    var(--mainBluePoint, #5598f0) 0%,
    var(--subBluePale, #c2f1ff) 100%
  ); */
}

.PremiumAd img {
  padding-bottom: 2px;
}
