.setting-title {
  color: var(--subText);
  margin: 10px 20px;
  font-weight: 400;
}

.setting-item-wrapper {
  margin: 10px;
  /* display: flex;
  flex-direction: column; */
}

.setting-category {
  margin: 20px;
}
