.NotificationItem {
  display: flex;
  width: 100%;
  padding: 15px 22px;
  gap: 15px;
  border-bottom: 1px solid var(--gray2);
  box-sizing: border-box;
}

.alert-left {
  flex-shrink: 0; /* 줄어들지 않게 */
}

.alert-right {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  cursor: pointer;
}

.alert-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 12px;
}

.company-name {
  font-weight: 700;
  margin-bottom: 3px;
}

.alert-category {
  font-weight: 600;
}

.alert-summary {
  padding-left: 18px;
  margin: 0;
  list-style: disc;
}

.alert-summary li {
  list-style: inherit;
  font-weight: 300;
}

.alert-content {
  font-weight: 300;
}

.alert-date {
  color: var(--subText);
  white-space: nowrap; /* 날짜 줄바꿈 방지 */
  flex-shrink: 0;
}

.recent-time {
  color: var(--mainBlue);
}

.alert-icon {
  width: 15px;
  height: 15px;
  flex-shrink: 0;
  aspect-ratio: 1/1;
}

.ai {
  border-radius: 15px;
  background: var(--mainBlueDark, #26599a);
}

.disclosure {
  border-radius: 15px;
  background: var(--mainBluePoint, #5292e7);
}
